.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.desc {
  width: 40rem;
  text-align: justify;
}

.ing {
  width: 40rem;
  text-align: center;
}

.price {
  display: flex;
  gap: 0.4rem;
}

.back {
  height: 2rem;
  width: 6rem;
  border: solid 1px var(--color-4);
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.back:hover {
  color: var(--color-1);
  background-color: var(--color-4);
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .info {
    gap: 0.8rem;
    margin-top: 1.4rem;
  }

  .desc {
    width: 30rem;
    text-align: justify;
  }

  .ing {
    width: 30rem;
    text-align: center;
  }

  .price {
    display: flex;
    gap: 0.4rem;
  }

  .back {
    height: 2rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .info {
    gap: 0.8rem;
    margin-top: 1.4rem;
    font-size: 0.8rem;
  }

  .desc {
    width: 20rem;
    text-align: justify;
  }

  .ing {
    width: 20rem;
    text-align: center;
  }

  .price {
    display: flex;
    gap: 0.4rem;
  }

  .back {
    height: 2rem;
    width: 4rem;
  }
}
